<div class="crtFrameOverlay"></div>
<input type="checkbox" id="switch" checked>
<div class="container-fluid">
  <div class="glitch screen">
    <div class="consoleContainer">
      <pre>
  _____/\\\\\\\\\\\\_____________________________/\\\__________________/\\\\\__________/\\\\\\\\\\\______________/\\\\\\\\\\\_
   ___/\\\//////////_____________________________\/\\\________________/\\\///\\\______/\\\/////////\\\___________\/////\\\///__
    __/\\\____________________________/\\\________\/\\\______________/\\\/__\///\\\___\//\\\______\///________________\/\\\_____
     _\/\\\____/\\\\\\\__/\\/\\\\\\\__\///_________\/\\\_____________/\\\______\//\\\___\////\\\_______________________\/\\\_____
      _\/\\\___\/////\\\_\/\\\/////\\\__/\\\___/\\\\\\\\\____________\/\\\_______\/\\\______\////\\\____________________\/\\\_____
       _\/\\\_______\/\\\_\/\\\___\///__\/\\\__/\\\////\\\____________\//\\\______/\\\__________\////\\\_________________\/\\\_____
        _\/\\\_______\/\\\_\/\\\_________\/\\\_\/\\\__\/\\\_____________\///\\\__/\\\_____/\\\______\//\\\________________\/\\\_____
         _\//\\\\\\\\\\\\/__\/\\\_________\/\\\_\//\\\\\\\/\\______________\///\\\\\/_____\///\\\\\\\\\\\/______________/\\\\\\\\\\\_
          __\////////////____\///__________\///___\///////\//_________________\/////_________\///////////_______________\///////////__
        </pre>
      <div id="terminal"></div>
      <div class="overlay">AV-1</div>
    </div>
  </div>
</div>
